button {
    border-radius: 8px;
    color: #ffffff;
    background-color: #512689;
    font-size: 16px;
    line-height: 136.187%;
    padding: 8px 12px;
}

.button {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #f8f8f8;
}
