.group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

label {
    font-size: 16px;
    line-height: 136.187%;
    color: #151317;
    display: inline;
}

input {
    padding: 12px 30px 12px 16px;
    border-radius: 8px;
    background-color: #f8f8f8;
    font-size: 14px;
    color: #151317;

    &:focus {
        border: 1px;
        border-color: #ff6161;
    }
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 75%;
    transform: translateY(-50%);
    cursor: pointer;
}
